/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
  &-sm {
    padding-bottom: 5em;
  }
}

.container {
  width: 90%;
}

// Rounding
.rounded {
  border-radius: 2px;
}

// Sections
.section-header {
  text-align: center;
  color: #93BB5B;
}
.newsletter {
  text-align: center;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Text
li a {
  color: $green-light;
  &:hover {
    color: $green-dark;
  }
}

.centered {
  text-align: center;
}

// Images
.team {
  width: 150px;
  border-radius: 50%;
  &-bordered {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
}
