<div class="padded-sm centered">
  <h3>Our Team</h3>
  <h4>Christina Wolfe</h4>
  <%= image_tag "prof.jpg", class: "team team-bordered tossing" %>
  <p>(It's a lonely team)</p>
</div>
<div class="padded-sm centered">
  <h3>Reach out</h3>
  <p>(480)867-5309</p>
  <p>christina@thescorecard.com</p>
</div>
